@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main: #dc8f00; /* or #c47f00 or #dc8f00 */

    --func: #ffff00;
    --datatype: #8400ff;
    --op: #ff0000;
    --strc: #cb16a1;
    --event: #3aff1c;
    --tag: #00eeff;
    --other: #cb2525;

    --obj-model: #00f7ff;
    --sub-act: #c8ff00;
    --star: #3aff1c;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Elms Sans', sans-serif;
    scrollbar-width: none;
    box-sizing: border-box;
}

body {background: linear-gradient(to bottom, #ffd900, #ff5e00) fixed;} /* #fff200 */

header {text-align: center;}

h1 {
    color: #fff;
    padding: 50px;
    font: 600 clamp(40px, 10vw, 60px) 'Elms Sans', sans-serif;
    text-shadow: 0px 2px #906000;
    transition: .3s ease-in-out;
}

h1:hover {
    font-weight: 800;
    cursor: grab;
    text-shadow: 0px 4px #906000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 33px;
    height: 25px;
    background: var(--main);
    border: #00000032 2px solid;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    color: #700;
    font-weight: bold;
    line-height: 20px;
    box-shadow: 2px 2px 1px #00000066;
    transition: .1s ease-in-out;
}

aside:hover {
    cursor: pointer;
    background-color: #cd7408;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    width: 60%;
    background: var(--main);
    border: #00000032 2px solid;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    box-shadow: 4px 4px 1px #00000066;
}

nav a, #to-top {
    color: #fff;
    font: 600 12px 'Jost', sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1.5px 0px #00000066;
}

nav a {
    flex-basis: calc(100% / 6); 
    flex-grow: 1;
    padding: 6px;
    border: 1px #c17e01 solid;
    transition: .1s ease-in-out;
}

nav a:hover {
    background-color: #c17e01;
    font-size: 70%;
}

#to-top:hover {text-decoration: underline;}

section {
    width: 70%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--main);
    border: #00000032 2px solid;
    border-radius: 15px;
    box-shadow: 4px 4px 1px #00000066;
    margin: auto;
    margin-bottom: 50px;
    padding: 30px;
    padding-bottom: 6px;
    z-index: 1;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
}

.star {
    color: var(--star);
    position: relative;
    bottom: 1px;
    left: 4px;
    transition: .1s ease-in-out;
}

.star:hover {
    font-size: 90%;
    bottom: 2px;
    left: 5px;
}

/* Topics */
.var {
    color: #fff;
    font-size: 90%;
    padding: 0 2px;
}

.topic {
    color: #ffffff;
    font: 600 30px 'Jost', sans-serif;
    border-bottom: #906000 3px dashed;
    text-shadow: 0px 1.5px 1px #000000a6;
    padding-bottom: 2px;
    margin-bottom: 18px;
}

.topic:hover {
    cursor: default;
    filter: brightness(120%);
}

.pair {margin-bottom: 7px;}

.pair h3 {margin-bottom: 2px;}

.hr {
    border-bottom: #0000003a 2px solid;
    border-radius: 5px;
    padding-bottom: 10px;
}

.act, .sub {
    width: auto;
    max-width: 90%;
    overflow-wrap: break-word;
    font: italic 600 18px 'Jost', sans-serif;
    text-shadow: 1px 1px 0px #000000c0;
    transition: .2s ease-in-out;
    margin: 2px 0 -3px;
}

.act:hover, .sub:hover, .hieact:hover {
    cursor: pointer;
    font-size: 19px;
    filter: brightness(135%);
    text-shadow: 1px 1.5px 0px #0000008e;
}

.sub-acts {
    position: relative;
    left: 2rem;
}

.sub {
    color: var(--sub-act);
    font-size: 1rem;
    margin-bottom: 0.5px;
}


.sub:hover {font-size: 1.05rem;}

/* Acts */
.class {color: var(--star);}

.func, .meth {color: var(--func);}

.datatype {color: var(--datatype);}

.op {color: var(--op);}

.event {color: var(--event);}

#structures .pair {margin-bottom: 15px;}
.strc {color: var(--strc);}

.tag {color: var(--tag);}

        /* Hierarchy */
.hierarchy {
    color: var(--obj-model);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 10px 0 30px;
}

.hierarchy .hie {
    background: #0397c0;
    border: #005f81 2px dashed;
    box-shadow: 0 3px #005f81b1;
    border-radius: 8px;
    padding: 10px;
}

.hierarchy .hie:hover {
    filter: brightness(110%);
}

.hie-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hieact {
    width: auto;
    max-width: 100%;
    overflow-wrap: normal;
    font: italic 600 18px 'Jost', sans-serif;
    text-shadow: 1px 1px 0px #000000c0;
    transition: .2s ease-in-out;
    margin: 2px 0 -3px;
}
        /* Hierarchy */

.other {color: var(--other);}
    /* Acts */

.def {
    width: 95%;
    color: #ffffff;
    font: italic 400 14px 'Jost', sans-serif;
    text-shadow: 1px 1.5px #000000a6;
    line-height: 1.2rem;
    text-indent: 2.2rem;
    transition: .2s ease-in-out;
}

.def:hover {
    cursor: pointer;
    font-size: 15px;
    text-shadow: 1px 1.5px #000;
}

.sub-acts .def {font-size: 0.8rem;}

.sub-acts .def:hover {font-size: 0.85rem;}

#to-top {
    width: 100%;
    margin: auto;
}
/* Topics */

footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: white;
    font: 500 12px 'Arial', sans-serif;
    text-align: center;
    background: #000000;
    box-shadow: 0px -1px 10px #0000006c;
}

.foot {padding: 10px;}

.credit {
    font-size: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #ffffffb3;
}

.credit:hover {text-decoration: underline;}

.social {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    gap: 20px;
}

.social img {
    width: 20px;
    height: 20px;
    filter: invert(65%);
}

.social img:hover {
    cursor: pointer;
    filter: invert(100%);
}


@media (max-width: 600px) {
    .hide {
        display: none;
    }
}

@media (max-width: 740px) {
    nav {
        width: 40%;
        flex-direction: column;
        position: relative;
    }

    nav a {
        display: block;
        width: 100%;
        font-size: 1rem;
        padding: 8px 15px;
        border-bottom: 3px solid #c17e01;
    }

    nav a:last-child {border-bottom: none;}

    nav a:hover {
        background: #c17e01;
        text-decoration: none;
        font-size: 105%;
    }

    aside {
        width: 50px;
        height: 30px;
        font-size: 2rem;
    }
}
